.scroll-to-top {
  position: fixed;
  bottom: 0.5rem;
  right: 0.5rem;
  animation: fadeIn 700ms ease-in-out 1s both;
  cursor: pointer;
}

.boxScrollTop {
  background-color: whitesmoke;
  border-radius: 20%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 500px;
}

.btnArrowUp {
  color: blue;
  height: 50px;
  width: 50px;
  /* style={{ color: "blue", height: 60, width: 60 }} */
}
