* > body {
  margin: 0;
  box-sizing: border-box;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.headers {
  /* padding: 10px 16px; */
  background: rgb(255, 255, 255);
  /* color: #f1f1f1; */
}

.contents {
  /* padding: 16px; */
}

.sticky {
  position: fixed;
  top: 0;
  max-width: 500px;
  z-index: 1;
}

.sticky + .contents {
  padding-top: 102px;
  max-width: 500px;
}

.ContentEmergency {
  max-width: 500px;
  margin: auto;
  /* border: 3px solid #73ad21; */
}

.formControl-complaint {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
  margin-bottom: 120px;
}

.textfiled {
  font-size: large;
}

.cssLabel {
  color: "rgb(61, 158, 116) !important";
}

.notchedOutline {
  border-width: 1px;
  border-color: "rgb(61, 158, 116) !important";
  color: "rgb(61, 158, 116)";
}
